.AppHeader {
  background-color: pink;
}

.AppHeader-logo {
  width: 191px;
  height: 80px;
  margin: 0 auto;
  background: url(../images/logo.webp) no-repeat center top;
}

.AppHeader-nav {
  border: 1px solid black;
}